* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: inherit; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #000000; }

.container {
  max-width: 1154px;
  margin: 0 auto; }

.header {
  margin-bottom: 180px;
  padding-top: 35px;
  padding-bottom: 85px;
  background-image: url("../img/Header__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 400; }
  .header nav {
    margin-bottom: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start; }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 130px;
    height: 39px;
    padding: 0px 10px;
    background-color: #000000;
    border-radius: 30px; }
  .header__menu {
    padding-top: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__menu li {
      text-transform: lowercase;
      margin-right: 50px; }
      .header__menu li:last-child {
        margin-right: 0; }
      .header__menu li :hover {
        color: #1bff07; }
    .header__menu a {
      text-decoration: none;
      font-size: 18px;
      letter-spacing: -0.04em;
      color: #fff; }
  .header__text {
    padding-left: 11px; }
    .header__text p {
      margin-bottom: 29px;
      width: 430px;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.021em;
      color: #fff; }
    .header__text h1 {
      width: 919px;
      font-size: 80px;
      line-height: 70px;
      letter-spacing: -0.03em;
      color: #1bff07; }

.projects {
  margin-bottom: 180px; }
  .projects__title {
    margin-bottom: 68px; }
  .projects__cards {
    margin-bottom: 80px; }
    .projects__cards article {
      position: relative; }
      .projects__cards article img {
        height: 550px; }
      .projects__cards article h3 {
        position: absolute;
        top: 427px;
        left: 53px;
        font-weight: 400;
        font-size: 35px;
        letter-spacing: -0.03em;
        color: #fff; }
      .projects__cards article p {
        position: absolute;
        left: 51px;
        top: 476px;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: -0.04em;
        color: #fff; }
  .projects__link button {
    width: 582px;
    height: 153px;
    padding: 26px 39px;
    background-color: #1bff07;
    color: #000000;
    border-radius: 10px;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.04em;
    text-align: center; }
  .projects__link button:hover {
    border: 1px solid #1bff07;
    background-color: #000000;
    color: #1bff07; }

.title {
  font-weight: 400;
  font-size: 55px;
  letter-spacing: -0.03em;
  color: #fff; }

.competencies {
  margin-bottom: 150px; }
  .competencies__title {
    margin-bottom: 75px; }
  .competencies__cards article {
    margin-bottom: 63px; }
    .competencies__cards article img {
      margin-bottom: 29px;
      height: 44px;
      width: 45px; }
    .competencies__cards article h3 {
      margin-bottom: 31px;
      padding-left: 2px;
      font-weight: 400;
      font-size: 35px;
      letter-spacing: -0.03em;
      color: #1bff07; }
    .competencies__cards article p {
      width: 800px;
      font-weight: 400;
      font-size: 22px;
      line-height: 29px;
      letter-spacing: -0.048em;
      color: #fff; }
  .competencies__cards article :last-child {
    margin-bottom: 0; }
  .competencies__cards .title-wrap {
    margin-top: -12px;
    margin-bottom: 18px;
    width: 655px;
    line-height: 43px; }
