@import "nulestyle.scss"; //Подключение обнуляющих стилей

html {
	scroll-behavior: smooth;
}
body {
	width: 1400px;
	margin: 0 auto;
	font-family: "IBM Plex Mono", monospace;
	background-color: #000000;
	color: #fff;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 15px;
}
.header {
	margin-bottom: 180px;
	padding-top: 35px;
	padding-bottom: 85px;
	background-image: url("../img/Header__bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-weight: 400;
	& nav {
		margin-bottom: 255px;
		display: flex;
		justify-content: space-between;
		align-items: start;
	}
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 189px;
		height: 39px;
		padding: 0px 10px;
		background-color: #000000;
		border-radius: 30px;
	}

	&__menu {
		padding-top: 4px;
		display: flex;
		& li {
			text-transform: lowercase;
			margin-right: 50px;
			&:last-child {
				margin-right: 0;
			}
			& :hover {
				color: #1bff07;
			}
		}
		& a {
			text-decoration: none;
			font-size: 18px;
			letter-spacing: -0.04em;
			color: #fff;
		}
	}

	&__text {
		padding-left: 11px;
		& p {
			margin-bottom: 29px;
			width: 430px;
			font-size: 20px;
			line-height: 28px;
			letter-spacing: -0.021em;
			color: #fff;
		}
		& h1 {
			width: 919px;
			font-size: 80px;
			line-height: 70px;
			letter-spacing: -0.03em;
			color: #1bff07;
		}
	}
}
main {
	margin-bottom: 141px;
}
.projects {
	margin-bottom: 180px;
	font-weight: 400;
	&__title {
		margin-bottom: 68px;
	}

	&__cards {
		margin-bottom: 80px;
		& article {
			position: relative;
			& img {
				height: 550px;
			}
			& h3 {
				position: absolute;
				top: 427px;
				left: 53px;
				font-size: 35px;
				letter-spacing: -0.03em;
				color: #fff;
			}
			& p {
				position: absolute;
				left: 51px;
				top: 476px;
				font-size: 30px;
				letter-spacing: -0.04em;
				color: #fff;
			}
		}
	}
	&__link {
		& button {
			width: 582px;
			height: 153px;
			padding: 26px 39px;
			background-color: #1bff07;
			color: #000000;
			border-radius: 10px;
			font-weight: 400;
			font-size: 30px;
			letter-spacing: -0.04em;
			text-align: center;
		}
		& button:hover {
			border: 1px solid #1bff07;
			background-color: #000000;
			color: #1bff07;
		}
	}
}
.title {
	font-weight: 400;
	font-size: 55px;
	letter-spacing: -0.03em;
	color: #fff;
}
.competencies {
	margin-bottom: 150px;
	&__title {
		margin-bottom: 75px;
	}

	&__cards {
		& article {
			margin-bottom: 63px;
			& img {
				margin-bottom: 29px;
				height: 44px;
				width: 45px;
			}
			& h3 {
				margin-bottom: 31px;
				padding-left: 2px;
				font-weight: 400;
				font-size: 35px;
				letter-spacing: -0.015em;
				color: #1bff07;
			}
			& p {
				width: 800px;
				font-weight: 400;
				font-size: 22px;
				line-height: 29px;
				letter-spacing: -0.03em;
				color: #fff;
			}
		}
		& article :last-child {
			margin-bottom: 0;
		}
		& .title-wrap {
			margin-top: -12px;
			margin-bottom: 18px;
			width: 655px;
			line-height: 43px;
		}
	}
}
.services {
	margin-bottom: 150px;
	&__title {
		margin-bottom: 74px;
		width: 410px;
		font-weight: 400;
		font-size: 35px;
		line-height: 46px;
		letter-spacing: -0.012em;
		color: #fff;
	}

	&__cards {
		& section {
			margin-bottom: 74px;
			& img {
				height: 200px;
			}
			& article {
				padding: 40px 62px 40px 40px;
				background-color: #191c19;
				border-radius: 30px;
				& h3 {
					margin-bottom: 15px;
					font-weight: 400;
					font-size: 55px;
					line-height: 72px;
					letter-spacing: -0.025em;
					color: #1bff07;
				}
				& p {
					width: 740px;
					font-weight: 400;
					font-size: 22px;
					line-height: 29px;
					letter-spacing: -0.045em;
					color: #fff;
				}
			}
		}

		& section :last-child {
			margin-bottom: 0;
		}
	}
}
.contacts {
	overflow: hidden;
	height: 717px;
	background-color: #191c19;
	border-radius: 30px;
	padding-left: 125px;
	display: flex;
	justify-content: space-between;
	&__text {
		padding-top: 315px;
		& h3 {
			margin-bottom: 34px;
			font-weight: 400;
			font-size: 35px;
			line-height: 35px;
			letter-spacing: -0.03em;
			color: #fff;
		}
		& a {
			margin-bottom: 20px;
			display: block;
			text-decoration: none;
			font-weight: 400;
			font-size: 60px;
			line-height: 100%;
			letter-spacing: -0.03em;
			color: #fff;
		}
		& a:last-child{
			margin-bottom: 0;
		}
		& a:hover{
			color: #1BFF07;
		}
	}

	&__img {
		height: 717px;
	}
}
.footer {
	width: 1400px;
	//margin: 0 auto;
	background-color: #ffffff;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding-top: 130px;
	padding-left: 125px;
	padding-bottom: 90px;
	font-family: "Manrope", sans-serif;
	& article {
		& h3 {
			margin-bottom: 22px;
			font-weight: 400;
			font-size: 22px;
			letter-spacing: -0.03em;
			color: #000;
		}
		& p {
			font-weight: 400;
			font-size: 20px;
			letter-spacing: -0.03em;
			opacity: 0.5;
			color: #000;
		}
	}
}
